body {
	height: 100vh;
	width: 100vw;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	background: #d58181;
}

.eye {
	width: 500px;
	height: 500px;
	background: #fffdf9;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	margin: 0 1rem;
	-webkit-clip-path: circle(50% at center);
	        clip-path: circle(50% at center);
	position: relative;
}

.iris {
	width: 50%;
	height: 50%;
	background: #343434;
	border-radius: 50%;
	-webkit-animation: movement 6s ease-in-out infinite;
	        animation: movement 6s ease-in-out infinite;
}

.upper-pupil,
.lower-pupil {
	width: 100%;
	height: 250px;
	background: #f6c6c6;
	position: absolute;
	-webkit-animation: blink 6s ease-in-out infinite;
	        animation: blink 6s ease-in-out infinite;
	z-index: 1;
}

.upper-pupil {
	top: 0;
}

.lower-pupil {
	bottom: 0;
}

@-webkit-keyframes movement {
	0%, 10% {
		-webkit-transform: translateX(0);
		        transform: translateX(0);
	}
	20% {
		-webkit-transform: translateX(-80%);
		        transform: translateX(-80%);
	}
	30%, 80% {
		-webkit-transform: translateX(0);
		        transform: translateX(0);
	}
	90% {
		-webkit-transform: translateX(80%);
		        transform: translateX(80%);
	}
	100% {
		-webkit-transform: translateX(0);
		        transform: translateX(0);
	}
}

@keyframes movement {
	0%, 10% {
		-webkit-transform: translateX(0);
		        transform: translateX(0);
	}
	20% {
		-webkit-transform: translateX(-80%);
		        transform: translateX(-80%);
	}
	30%, 80% {
		-webkit-transform: translateX(0);
		        transform: translateX(0);
	}
	90% {
		-webkit-transform: translateX(80%);
		        transform: translateX(80%);
	}
	100% {
		-webkit-transform: translateX(0);
		        transform: translateX(0);
	}
}

@-webkit-keyframes blink {
	0%, 30% {
		height: 20%;
	}
	32% {
		height: 40%;
	}
	34% {
		height: 20%;
	}
	36% {
		height: 40%;
	}
	38%, 50% {
		height: 20%;
	}
	60%, 70% {
		height: 45%;
	}
	80%, 100% {
		height: 20%;
	}
}

@keyframes blink {
	0%, 30% {
		height: 20%;
	}
	32% {
		height: 40%;
	}
	34% {
		height: 20%;
	}
	36% {
		height: 40%;
	}
	38%, 50% {
		height: 20%;
	}
	60%, 70% {
		height: 45%;
	}
	80%, 100% {
		height: 20%;
	}
}