* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	width: 100%;
	height: 100%;
	background-image: linear-gradient(to top, #209cff 0%, #08e0cf 100%);
	display: flex;
	justify-content: center;
	align-items: center;
}

button {
	border: 0;
	outline: 0;
}

.container {
	margin: 40px 0;
	width: 400px;
	height: 600px;
	padding: 10px 25px;
	background: #0a0e31;
	border-radius: 10px;
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.45), 0 4px 8px rgba(0, 0, 0, 0.35), 0 8px 12px rgba(0, 0, 0, 0.15);
	font-family: 'Product Sans', sans-serif;
}

h2.title {
	font-size: 1.75rem;
	margin: 10px -5px;
	margin-bottom: 30px;
	color: #fff;
}

.result {
	position: relative;
	width: 100%;
	height: 65px;
	overflow: hidden;
}

.field-title {
	position: absolute;
	top: -10px;
	left: 8px;
	transform: translateY(-50%);
	color: rgba(255, 255, 255, 0.5);
	text-transform: uppercase;
	font-size: 0.65rem;
	pointer-events: none;
	user-select: none;
}

.result-info {
	position: absolute;
	bottom: 4px;
	color: #fff;
	font-size: 0.8rem;
	transition: all 150ms ease-in-out;
	transform: translateY(200%);
	opacity: 0;
}

.result-info.right {
	right: 8px;
}

.result-info.left {
	left: 8px;
}

.result-viewbox {
	width: 100%;
	height: 100%;
	background: rgba(255, 255, 255, 0.08);
	border-radius: 8px;
	color: #fff;
	text-align: center;
	line-height: 65px;
}

#copy-btn {
	position: absolute;
	top: var(--y);
	left: var(--x);
	width: 38px;
	height: 38px;
	background: #fff;
	border-radius: 50%;
	opacity: 0;
	transform: translate(-50%, -50%) scale(0);
	transition: all 350ms cubic-bezier(0.175, 0.885. 0.32, 1.275);
	cursor: pointer;
	z-index: 2;
	fill: currentColor;
}

#copy-btn:active {
	box-shadow: 0 0 0 200px rgba(255, 255, 255, 0.8);
}

.result:hover #copy-btn {
	opacity: 1;
	transform: translate(-50%, -50%) scale(1.35);
}

.range-slider {
	position: relative;
	width: 100%;
	height: calc(65px - 10px);
	display: flex;
	justify-content: center;
	align-items: center;
	background: rgba(255, 255, 255, 0.08);
	border-radius: 8px;
	margin: 30px 0;
}

.range-slider::before,
.range-slider::after {
	position: absolute;
	color: #fff;
	font-size: 0.9rem;
}

.range-slider::before {
	content: attr(data-min);
	left: 10px;
}

.range-slider::after {
	content: attr(data-max);
	right: 10px;
}

.range-slider .length-title::after {
	content: attr(data-length);
	position: absolute;
	right: -16px;
	font-variant-numeric: tabular-nums;
	color: #fff;
}

#slider {
	-webkit-appearance: none;
	width: calc(100% - (70px));
	height: 2px;
	border-radius: 5px;
	background: rgba(255, 255, 255, 0.314);
	outline: none;
	margin: 0;
	padding: 0;
	cursor: pointer;
}

#slider::-webkit-slider-thumb, 
#slider::-moz-range-thumb {
	-webkit-appearance: none;
	width: 20px;
	height: 20px;
	border-radius: 50%;
	background: #fff;
	cursor: pointer;
	transition: all 0.15s ease-in-out;
}

#slider::-webkit-slider-thumb:hover {
	background: #d4d4d4;
	transform: scale(1.2);
}

#slider::-moz-range-thumb:hover {
	background: #d4d4d4;
}

.settings {
	position: relative;
	height: auto;
	widows: 100%;
	display: flex;
	flex-direction: column;
	font-weight: 500;
}

.setting {
	position: relative;
	width: 100%;
	height: calc(65px - 10px);
	background: rgba(255, 255, 255, 0.08);
	border-radius: 8px;
	display: flex;
	align-items: center;
	padding: 10px 25px;
	color: #fff;
	margin-bottom: 8px;
}

.setting input {
	opacity: 0;
	position: absolute;
}

.setting input + label {
	user-select: none;
}

.setting input + label::before,
.setting input + label::after {
	content: '';
	position: absolute;
	transition: all 150ms cubic-bezier(0.24, 0. 0.5, 1);
	transform: translateY(-50%);
	top: 50%;
	right: 10px;
	cursor: pointer;
}

.setting input + label::before {
	height: 30px;
	width: 50px;
	border-radius: 30px;
	background: rgba(214, 214, 214, 0.434);
}

.setting input + label::after {
	height: 24px;
	width: 24px;
	border-radius: 60px;
	right: 32px;
	background: #fff;
}

.setting input:checked + label::before {
	background: #5d68e2;
	transition: all 150ms cubic-bezier(0, 0, 0, 0.1); 
}

.setting input:checked + label::after {
	right: 14px;
}

.setting input:focus + label::before {
	box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.75);
}

.generate {
	user-select: none;
	position: relative;
	width: 100%;
	height: 50px;
	margin: 10px 0;
	border-radius: 8px;
	color: #fff;
	border: none;
	background-image: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
	letter-spacing: 1px;
	text-transform: uppercase;
	cursor: pointer;
	transition: all 150ms ease;
}

.generate:active {
	transform: translateY(-3%);
	box-shadow: 0 4px 8px rgba(255, 255, 255, 0.08);
}



