html {
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
}

*, *:before, *:after {
	-webkit-box-sizing: inherit;
	        box-sizing: inherit;
}
body {
	min-height: 100vh;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	font-family: Quicksand, sans-serif;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	background: #E4ECFA;
}
body .container {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
}
body .container > div {
	-ms-flex-preferred-size: 100%;
	    flex-basis: 100%;
	width: 0;
}
body .container .button {
	margin: 16px;
}

@media (max-width: 400px) {
	body .container .button {
		margin: 12px;
	}
}

.button {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	overflow: hidden;
	text-decoration: none;
	background: #275efe;
	border-radius: 8px;
	-webkit-box-shadow: 0 2px 8px -1px rgba(10, 22, 50, .24);
	        box-shadow: 0 2px 8px -1px rgba(10, 22, 50, .24);
	-webkit-transition: -webkit-transform .2s ease, -webkit-box-shadow .2s ease;
	transition: -webkit-transform .2s ease, -webkit-box-shadow .2s ease;
	-o-transition: transform .2s ease, box-shadow .2s ease;
	transition: transform .2s ease, box-shadow .2s ease;
	transition: transform .2s ease, box-shadow .2s ease, -webkit-transform .2s ease, -webkit-box-shadow .2s ease;
}
.button:active {
	-webkit-transform: scale(0.95);
	    -ms-transform: scale(0.95);
	        transform: scale(0.95);
	-webkit-box-shadow: 0 1px 4px -1px rgba(10, 22, 50, .24);
	        box-shadow: 0 1px 4px -1px rgba(10, 22, 50, .24);
}

.button ul {
	margin: 0;
	padding: 16px 40px;
	list-style: none;
	text-align: center;
	position: relative;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	font-size: 16px;
	font-weight: bold;
	line-height: 28px;
	color: #fff;
}
.button ul li:not(:first-child) {
	top: 16px;
	left: 0;
	right: 0;
	position: absolute;
}
.button ul li:nth-child(2) {
	top: 76px;
}
.button ul li:nth-child(3) {
	top: 136px;
}
.button > div {
	position: relative;
	width: 60px;
	height: 60px;
	background: #184fee;
}
.button > div:before, .button > div:after {
	content: '';
	display: block;
	position: absolute;
}
.button > div:before {
	border-radius: 1px;
	width: 2px;
	top: 50%;
	left: 50%;
	height: 17px;
	margin: -9px 0 0 -1px;
	background: #fff;
}
.button > div:after {
	width: 60px;
	height: 60px;
	-webkit-transform-origin: 50% 0;
	-ms-transform-origin: 50% 0;
	    transform-origin: 50% 0;
	border-radius: 0 0 80% 80%;
	background: #4672f1;
	top: 0;
	left: 0;
	-webkit-transform: scaleY(0);
	-ms-transform: scaleY(0);
	    transform: scaleY(0);
}
.button > div svg {
	display: block;
	position: absolute;
	width: 20px;
	height: 20px;
	left: 50%;
	top: 50%;
	margin: -9px 0 0 -10px;
	fill: none;
	z-index: 1;
	stroke-width: 2px;
	stroke: #fff;
	stroke-linecap: round;
	stroke-linejoin: round;
}
.button.loading ul {
	-webkit-animation: text calc(var(--duration) * 1ms) linear forwards calc(var(--duration) * .065ms);
	        animation: text calc(var(--duration) * 1ms) linear forwards calc(var(--duration) * .065ms);
}
.button.loading > div:before {
	-webkit-animation: line calc(var(--duration) * 1ms) linear forwards calc(var(--duration) * .065ms);
	        animation: line calc(var(--duration) * 1ms) linear forwards calc(var(--duration) * .065ms);
}
.button.loading > div:after {
	-webkit-animation: background calc(var(--duration) * 1ms) linear forwards calc(var(--duration) * .065ms);
	        animation: background calc(var(--duration) * 1ms) linear forwards calc(var(--duration) * .065ms);
}
.button.loading > div svg {
	-webkit-animation: svg calc(var(--duration) * 1ms) linear forwards calc(var(--duration) * .065ms);
	        animation: svg calc(var(--duration) * 1ms) linear forwards calc(var(--duration) * .065ms);
}

@-webkit-keyframes text {
	10%,
	85% {
		-webkit-transform: translateY(-100%);
		        transform: translateY(-100%);
	}
	95%,
	100% {
		-webkit-transform: translateY(-200%);
		        transform: translateY(-200%);
	}
}

@keyframes text {
	10%,
	85% {
		-webkit-transform: translateY(-100%);
		        transform: translateY(-100%);
	}
	95%,
	100% {
		-webkit-transform: translateY(-200%);
		        transform: translateY(-200%);
	}
}

@-webkit-keyframes line {
	5%,
	10% {
		-webkit-transform: translateY(-30px);
		        transform: translateY(-30px);
	}
	40% {
		-webkit-transform: translateY(-20px);
		        transform: translateY(-20px);
	}
	65% {
		-webkit-transform: translateY(0);
		        transform: translateY(0);
	}
	75%,
	100% {
		-webkit-transform: translateY(30px);
		        transform: translateY(30px);
	}
}

@keyframes line {
	5%,
	10% {
		-webkit-transform: translateY(-30px);
		        transform: translateY(-30px);
	}
	40% {
		-webkit-transform: translateY(-20px);
		        transform: translateY(-20px);
	}
	65% {
		-webkit-transform: translateY(0);
		        transform: translateY(0);
	}
	75%,
	100% {
		-webkit-transform: translateY(30px);
		        transform: translateY(30px);
	}
}
@-webkit-keyframes svg {
	0%,
	20% {
		stroke-dasharray: 0;
		stroke-dashoffset: 0;
	}
	21%,
	89% {
		stroke-dasharray: 26px;
		stroke-dashoffset: 26px;
		stroke-width: 3px;
		margin: -10px 0 0 -10px;
		stroke: #fff;
	}
	100% {
		stroke-dasharray: 26px;
		stroke-dashoffset: 0;
		margin: -10px 0 0 -10px;
		stroke: #fff;
	}
	12% {
		opacity: 1;
	}
	20%,
	89% {
		opacity: 0;
	}
	90%,
	100% {
		opacity: 1;
	}
}
@keyframes svg {
	0%,
	20% {
		stroke-dasharray: 0;
		stroke-dashoffset: 0;
	}
	21%,
	89% {
		stroke-dasharray: 26px;
		stroke-dashoffset: 26px;
		stroke-width: 3px;
		margin: -10px 0 0 -10px;
		stroke: #fff;
	}
	100% {
		stroke-dasharray: 26px;
		stroke-dashoffset: 0;
		margin: -10px 0 0 -10px;
		stroke: #fff;
	}
	12% {
		opacity: 1;
	}
	20%,
	89% {
		opacity: 0;
	}
	90%,
	100% {
		opacity: 1;
	}
}
@-webkit-keyframes background {
	10% {
		-webkit-transform: scaleY(0);
		        transform: scaleY(0);
	}
	40% {
		-webkit-transform: scaleY(0.15);
		        transform: scaleY(0.15);
	}
	65% {
		-webkit-transform: scaleY(0.5);
		        transform: scaleY(0.5);
		border-radius: 0 0 50% 50%;
	}
	75% {
		border-radius: 0 0 50% 50%;
	}
	90%,
	100% {
		border-radius: 0;
	}
	75%,
	100% {
		-webkit-transform: scaleY(1);
		        transform: scaleY(1);
	}
}
@keyframes background {
	10% {
		-webkit-transform: scaleY(0);
		        transform: scaleY(0);
	}
	40% {
		-webkit-transform: scaleY(0.15);
		        transform: scaleY(0.15);
	}
	65% {
		-webkit-transform: scaleY(0.5);
		        transform: scaleY(0.5);
		border-radius: 0 0 50% 50%;
	}
	75% {
		border-radius: 0 0 50% 50%;
	}
	90%,
	100% {
		border-radius: 0;
	}
	75%,
	100% {
		-webkit-transform: scaleY(1);
		        transform: scaleY(1);
	}
}
