html {
	box-sizing: border-box;
}

*, *:before, *:after {
	box-sizing: inherit;
}
body {
	min-height: 100vh;
	display: flex;
	font-family: Quicksand, sans-serif;
	justify-content: center;
	align-items: center;
	background: #E4ECFA;
}
body .container {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}
body .container > div {
	flex-basis: 100%;
	width: 0;
}
body .container .button {
	margin: 16px;
}

@media (max-width: 400px) {
	body .container .button {
		margin: 12px;
	}
}

.button {
	display: flex;
	overflow: hidden;
	text-decoration: none;
	background: #275efe;
	border-radius: 8px;
	box-shadow: 0 2px 8px -1px rgba(10, 22, 50, .24);
	transition: transform .2s ease, box-shadow .2s ease;
}
.button:active {
	transform: scale(0.95);
	box-shadow: 0 1px 4px -1px rgba(10, 22, 50, .24);
}

.button ul {
	margin: 0;
	padding: 16px 40px;
	list-style: none;
	text-align: center;
	position: relative;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	font-size: 16px;
	font-weight: bold;
	line-height: 28px;
	color: #fff;
}
.button ul li:not(:first-child) {
	top: 16px;
	left: 0;
	right: 0;
	position: absolute;
}
.button ul li:nth-child(2) {
	top: 76px;
}
.button ul li:nth-child(3) {
	top: 136px;
}
.button > div {
	position: relative;
	width: 60px;
	height: 60px;
	background: #184fee;
}
.button > div:before, .button > div:after {
	content: '';
	display: block;
	position: absolute;
}
.button > div:before {
	border-radius: 1px;
	width: 2px;
	top: 50%;
	left: 50%;
	height: 17px;
	margin: -9px 0 0 -1px;
	background: #fff;
}
.button > div:after {
	width: 60px;
	height: 60px;
	-webkit-transform-origin: 50% 0;
	transform-origin: 50% 0;
	border-radius: 0 0 80% 80%;
	background: #4672f1;
	top: 0;
	left: 0;
	-webkit-transform: scaleY(0);
	transform: scaleY(0);
}
.button > div svg {
	display: block;
	position: absolute;
	width: 20px;
	height: 20px;
	left: 50%;
	top: 50%;
	margin: -9px 0 0 -10px;
	fill: none;
	z-index: 1;
	stroke-width: 2px;
	stroke: #fff;
	stroke-linecap: round;
	stroke-linejoin: round;
}
.button.loading ul {
	animation: text calc(var(--duration) * 1ms) linear forwards calc(var(--duration) * .065ms);
}
.button.loading > div:before {
	animation: line calc(var(--duration) * 1ms) linear forwards calc(var(--duration) * .065ms);
}
.button.loading > div:after {
	animation: background calc(var(--duration) * 1ms) linear forwards calc(var(--duration) * .065ms);
}
.button.loading > div svg {
	animation: svg calc(var(--duration) * 1ms) linear forwards calc(var(--duration) * .065ms);
}

@keyframes text {
	10%,
	85% {
		transform: translateY(-100%);
	}
	95%,
	100% {
		transform: translateY(-200%);
	}
}

@keyframes line {
	5%,
	10% {
		transform: translateY(-30px);
	}
	40% {
		transform: translateY(-20px);
	}
	65% {
		transform: translateY(0);
	}
	75%,
	100% {
		transform: translateY(30px);
	}
}
@keyframes svg {
	0%,
	20% {
		stroke-dasharray: 0;
		stroke-dashoffset: 0;
	}
	21%,
	89% {
		stroke-dasharray: 26px;
		stroke-dashoffset: 26px;
		stroke-width: 3px;
		margin: -10px 0 0 -10px;
		stroke: #fff;
	}
	100% {
		stroke-dasharray: 26px;
		stroke-dashoffset: 0;
		margin: -10px 0 0 -10px;
		stroke: #fff;
	}
	12% {
		opacity: 1;
	}
	20%,
	89% {
		opacity: 0;
	}
	90%,
	100% {
		opacity: 1;
	}
}
@keyframes background {
	10% {
		transform: scaleY(0);
	}
	40% {
		transform: scaleY(0.15);
	}
	65% {
		transform: scaleY(0.5);
		border-radius: 0 0 50% 50%;
	}
	75% {
		border-radius: 0 0 50% 50%;
	}
	90%,
	100% {
		border-radius: 0;
	}
	75%,
	100% {
		transform: scaleY(1);
	}
}
