*, *::before, *::after {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}

body {
    min-height: 100vh;
    background: #f5f9ff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}

.loader.triangle {
    width: 48px;
}

.loader.triangle::before {
    left: 21px;
    -webkit-transform: translate(-10px, -18px);
        -ms-transform: translate(-10px, -18px);
            transform: translate(-10px, -18px);
    -webkit-animation: dotTriangle var(--duration) cubic-bezier(0.785, 0.135, 0.15, 0.86) infinite;
            animation: dotTriangle var(--duration) cubic-bezier(0.785, 0.135, 0.15, 0.86) infinite
}

.loader.triangle svg polygon {
    stroke-dasharray: 145 76 145 76;
    stroke-dashoffset: 0;
    -webkit-animation: pathTriangle var(--duration) cubic-bezier(0.785, 0.135, 0.15, 0.86) infinite;
            animation: pathTriangle var(--duration) cubic-bezier(0.785, 0.135, 0.15, 0.86) infinite
}

.loader {
    --path: #2f3545;
    --dot: #5628ee;
    --duration: 3s;

    display: inline-block;
    margin: 0 16px;
    height: 44px;
    width: 44px;
    position: relative;
}

.loader::before {
    content: "";
    width: 6px;
    height: 6px;
    border-radius: 50%;
    position: absolute;
    display: block;
    background: var(--dot);
    top: 37px;
    left: 19px;
    -webkit-transform: translate(-18px, -18px);
        -ms-transform: translate(-18px, -18px);
            transform: translate(-18px, -18px);
    -webkit-animation: dotRect var(--duration) cubic-bezier(0.785, 0.135, 0.15, 0.86) infinite;
            animation: dotRect var(--duration) cubic-bezier(0.785, 0.135, 0.15, 0.86) infinite
}

.loader svg {
    display: block;
    width: 100%;
    height: 100%;
}

.loader svg circle {
    stroke-dasharray: 150 50 150 50;
    stroke-dashoffset: 75;
    -webkit-animation: pathCircle var(--duration) cubic-bezier(0.785, 0.135, 0.15, 0.86) infinite;
            animation: pathCircle var(--duration) cubic-bezier(0.785, 0.135, 0.15, 0.86) infinite
}

.loader svg rect {
    stroke-dasharray: 192 64 192 64;
    stroke-dashoffset: 0;
    -webkit-animation: pathRectangle var(--duration) cubic-bezier(0.785, 0.135, 0.15, 0.86) infinite;
            animation: pathRectangle var(--duration) cubic-bezier(0.785, 0.135, 0.15, 0.86) infinite
}

.loader svg circle,
.loader svg polygon,
.loader svg rect {
    fill: none;
    stroke: var(--path);
    stroke-width: 10px;
    stroke-linejoin: round;
    stroke-linecap: round;
}

@-webkit-keyframes dotTriangle {
    33% {
        -webkit-transform: translate(0, 0);
                transform: translate(0, 0);
    }
    66% {
        -webkit-transform: translate(10px, -18px);
                transform: translate(10px, -18px);
    }
    100% {
        -webkit-transform: translate(-10px, -18px);
                transform: translate(-10px, -18px);
    }
}

@keyframes dotTriangle {
    33% {
        -webkit-transform: translate(0, 0);
                transform: translate(0, 0);
    }
    66% {
        -webkit-transform: translate(10px, -18px);
                transform: translate(10px, -18px);
    }
    100% {
        -webkit-transform: translate(-10px, -18px);
                transform: translate(-10px, -18px);
    }
}

@-webkit-keyframes dotRect {
    25% {
        -webkit-transform: translate(0, 0);
                transform: translate(0, 0);
    }
    50% {
        -webkit-transform: translate(18px, -18px);
                transform: translate(18px, -18px);
    }
    75% {
        -webkit-transform: translate(0, -36px);
                transform: translate(0, -36px);
    }
    100% {
        -webkit-transform: translate(-18px, -18px);
                transform: translate(-18px, -18px);
    }
}

@keyframes dotRect {
    25% {
        -webkit-transform: translate(0, 0);
                transform: translate(0, 0);
    }
    50% {
        -webkit-transform: translate(18px, -18px);
                transform: translate(18px, -18px);
    }
    75% {
        -webkit-transform: translate(0, -36px);
                transform: translate(0, -36px);
    }
    100% {
        -webkit-transform: translate(-18px, -18px);
                transform: translate(-18px, -18px);
    }
}

@-webkit-keyframes pathRectangle {
    25% {
        stroke-dashoffset: 64;
    }
    50% {
        stroke-dashoffset: 128;
    }
    75% {
        stroke-dashoffset: 192;
    }
    100% {
        stroke-dashoffset: 256;
    } 
}

@keyframes pathRectangle {
    25% {
        stroke-dashoffset: 64;
    }
    50% {
        stroke-dashoffset: 128;
    }
    75% {
        stroke-dashoffset: 192;
    }
    100% {
        stroke-dashoffset: 256;
    } 
}

@-webkit-keyframes pathTriangle {
    33% {
        stroke-dashoffset: 74;
    }
    66% {
        stroke-dashoffset: 147;
    }
    100% {
        stroke-dashoffset: 221;
    }
}

@keyframes pathTriangle {
    33% {
        stroke-dashoffset: 74;
    }
    66% {
        stroke-dashoffset: 147;
    }
    100% {
        stroke-dashoffset: 221;
    }
}

@-webkit-keyframes pathCircle {
    25% {
        stroke-dashoffset: 125;
    }
    50% {
        stroke-dashoffset: 175;
    }
    75% {
        stroke-dashoffset: 225;
    }
    100% {
        stroke-dashoffset: 275;
    }
}

@keyframes pathCircle {
    25% {
        stroke-dashoffset: 125;
    }
    50% {
        stroke-dashoffset: 175;
    }
    75% {
        stroke-dashoffset: 225;
    }
    100% {
        stroke-dashoffset: 275;
    }
}