*, *::before, *::after {
    -webkit-box-sizing: inherit;
            box-sizing: inherit;
}
html {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}
body {
    height: 100vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    background-color: #ecf0f3;
    font-family: 'Google Sans', 'Segoe UI', sans-serif;
}
.radiogroup {
    padding: 68px 64px;
    border-radius: 16px;
    background-color: #ecf0f3;
    -webkit-box-shadow: 4px 4px 4px 0px #d1d9e6 inset, -4px -4px 4px 0px #ffffff inset;
            box-shadow: 4px 4px 4px 0px #d1d9e6 inset, -4px -4px 4px 0px #ffffff inset;
}
.wrapper {
    margin: 8px 0;
}
.state {
    position: absolute;
    top: 0;
    right: 0;
    opacity: 1e-5;
    pointer-events: none;
}
.state:checked ~ .label .indicator::after {
    -webkit-transform: scale3d(.975, .975, 1) translate3d(0, 10%, 0);
            transform: scale3d(.975, .975, 1) translate3d(0, 10%, 0);
    opacity: 0;
}
.state:focus ~ .label .text {
    -webkit-transform: translate3d(8px, 0, 0);
            transform: translate3d(8px, 0, 0);
}

.label {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    cursor: pointer;
    color: #394a56;
}
.label:hover .text {
    opacity: 1;
}

.indicator {
    position: relative;
    border-radius: 50%;
    height: 30px;
    width: 30px;
    -webkit-box-shadow: -8px -4px 8px 0 #fff, 8px 4px 12px 0 #d1d9e6;
            box-shadow: -8px -4px 8px 0 #fff, 8px 4px 12px 0 #d1d9e6;
}
.indicator::before, .indicator::after {
    content: "";
    position: absolute;
    top: 10%;
    left: 10%;
    width: 80%;
    height: 80%;
    border-radius: 50%;
}

.indicator::before {
    -webkit-box-shadow: -4px -2px 4px 0 #d1d9e6, 4px 2px 8px 0 #fff;
            box-shadow: -4px -2px 4px 0 #d1d9e6, 4px 2px 8px 0 #fff;
}
.indicator::after {
    background-color: #ecf0f3;
    -webkit-box-shadow: -4px -2px 4px 0 #fff, 4px 2px 8px 0 #d1d9e6;
            box-shadow: -4px -2px 4px 0 #fff, 4px 2px 8px 0 #d1d9e6;
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
    -webkit-transition: opacity .25s ease-in-out, -webkit-transform .25s ease-in-out;
    transition: opacity .25s ease-in-out, -webkit-transform .25s ease-in-out;
    -o-transition: opacity .25s ease-in-out, transform .25s ease-in-out;
    transition: opacity .25s ease-in-out, transform .25s ease-in-out;
    transition: opacity .25s ease-in-out, transform .25s ease-in-out, -webkit-transform .25s ease-in-out;
}

.text {
    margin-left: 16px;
    opacity: .6;
    -webkit-transition: opacity .2s linear , -webkit-transform .2s ease-in-out;
    transition: opacity .2s linear , -webkit-transform .2s ease-in-out;
    -o-transition: opacity .2s linear , transform .2s ease-in-out;
    transition: opacity .2s linear , transform .2s ease-in-out;
    transition: opacity .2s linear , transform .2s ease-in-out , -webkit-transform .2s ease-in-out;
}