@import url('https://fonts.googleapis.com/css?family=Gochi+Hand');

body {
    background-color: #a39bd2;
    min-height: 70vh;
    padding: 1rem;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    color: hsl(198, 1%, 29%);
    font-family: 'Gochi Hand', cursive, sans-serif;
    text-align: center;
    font-size: 130%;
}

@media only screen and (min-width: 100px) {
    body {
        min-height: 100vh;
    }
}

.container {
    width: 100%;
    height: auto;
    min-width: 250px;
    min-height: 500px;
    max-width: 500px;
    background: #f1f5f8;
    background-image: radial-gradient(#bfc0c1 7.2%, transparent 0);
    background-size: 25px 25px;
    border-radius: 20px;
    box-shadow: 4px 3px 7px 2px #00000040;
    padding: 1rem;
    box-sizing: border-box;
}

.heading {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 1rem;
}

.heading-img {
    width: 24%;
}

.heading-title {
    transform: rotate(2deg);
    padding: 0.2rem 1.2rem;
    border-radius: 20% 5% 20% 5% / 5% 20% 25% 20%;
    background-color: hsla(166, 100%, 50%, 0.7);
    font-size: 1.5rem;
}

.form-label {
    display: block;
    margin-bottom: 0.5rem;
}

.form-input {
    box-sizing: border-box;
    background-color: transparent;
    padding: 0.7rem;
    border-bottom-right-radius: 15px 3px;
    border-bottom-left-radius: 3px 15px;
    border: 3px solid transparent;
    border-bottom: dashed 3px #ea95e0;
    font-family: 'Gochi Hand', cursive, sans-serif;
    font-size: 1rem;
    color: hsla(260, 2%, 25%, 0.7);
    width: 70%;
    margin-bottom: 20px;
}

.form-input:focus {
    outline: none;
    border: solid 3px #ea95e0;
}

.button {
    padding: 0;
    border: none;
    transform: rotate(4deg);
    transform-origin: center;
    font-family: 'Gochi Hand', cursive, sans-serif;
    text-decoration: none;
    padding-bottom: 3px;
    border-radius: 5px;
    box-shadow: 0 2px 0 hsl(198, 1%, 29%);
    transition: all 0.3s cubic-bezier(.175, .885, .32, 1.275);
    background-color: hsla(166, 100%, 50%, 0.7);
}

.button span {
    background: #f1f5f8;
    display: block;
    padding: .5rem 1rem;
    border-radius: 5px;
    border: 2px solid hsl(198, 1%, 29%);
}

.button:active,
.button:focus {
    transform: translateY(4px);
    padding-bottom: 0;
    outline: 0;
}

@media only screen and (min-width: 500px) {
    .heading-title {
        font-size: 2rem;
    }
    .form-input {
        width: 60%;
    }
}
