.wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.typing {
    width: 20ch;
    white-space: nowrap;
    overflow: hidden;
    border-right: 3px solid;
    font-family: monospace;
    font-size: 2em;
    animation: typing 2s steps(22), blink .5s step-end infinite alternate;
}

@keyframes typing {
    from {
        width: 0;
    }
}

@keyframes blink {
    50% {
        border-color: transparent;
    }
}