*,
*::after,
*::before {
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
}

html {
	font-size: 62%;
}

body {
	--background-color: hsl(180, 20%, 90%);
	font-family: 'Product Sans', sans-serif;
	min-height: 100vh;
	padding: 2rem;
	color: hsla(0%, 0%, 0%, .6);
	text-align: center;
	background-color: var(--background-color);
}

.main {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	height: 100vh;
}

.center {
	display: inherit;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
}

.wrap {
	margin: 2rem;
	-webkit-transform-style: preserve-3d;
	        transform-style: preserve-3d;
	-webkit-transform: perspective(100rem);
	        transform: perspective(100rem);
	cursor: pointer;
}

.container {
	--rX : 0;
	--rY : 0;
	--bX : 50%;
	--bY : 80%;

	width: 30rem;
	height: 36rem;
	border: 1px solid var(--background-color);
	border-radius: 1.6rem;
	padding: 4rem;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: end;
	    -ms-flex-align: end;
	        align-items: flex-end;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	position: relative;
	-webkit-transform: rotateX(calc(var(--rX) * 1deg)) rotateY(calc(var(--rY) * 1deg));
	        transform: rotateX(calc(var(--rX) * 1deg)) rotateY(calc(var(--rY) * 1deg));
	background: -webkit-gradient(linear, left top, left bottom, from(hsla(0, 0%, 100%, .1)), to(hsla(0, 0%, 100%, .1))), url("images/ELC.jpg");
	background: -o-linear-gradient(hsla(0, 0%, 100%, .1), hsla(0, 0%, 100%, .1)), url("images/ELC.jpg");
	background: linear-gradient(hsla(0, 0%, 100%, .1), hsla(0, 0%, 100%, .1)), url("images/ELC.jpg");
	background-position: var(--bX) var(--bY);
	background-size: 55rem auto;
	-webkit-box-shadow: 0 0 3rem .5rem hsla(0, 0%, 0%, .2);
	        box-shadow: 0 0 3rem .5rem hsla(0, 0%, 0%, .2);
	-webkit-transition: -webkit-transform .6s 1s;
	transition: -webkit-transform .6s 1s;
	-o-transition: transform .6s 1s;
	transition: transform .6s 1s;
	transition: transform .6s 1s, -webkit-transform .6s 1s;
}

.container p {
	color: hsla(0, 0%, 100%, .6);
	font-size: 2.2rem;
}

.container::before,
.container::after {
	content: '';
	width: 2rem;
	height: 2rem;
	border: 1px solid #fff;
	position: absolute;
	z-index: 2;
	opacity: .3;
	-webkit-transition: .3s;
	-o-transition: .3s;
	transition: .3s;
}

.container::before {
	top: 2rem;
	right: 2rem;
	border-bottom-width: 0;
	border-left-width: 0;
}

.container::after {
	bottom: 2rem;
	left: 2rem;
	border-top-width: 0;
	border-right-width: 0;
}

.wrap:hover .container::before,
.wrap:hover .container::after {
	width: calc(100% - 4rem);
	height: calc(100% - 4rem);
}

.container-2 {
	-webkit-filter: hue-rotate(80deg) saturate(140%);
	        filter: hue-rotate(80deg) saturate(140%);
}

.container-3 {
	-webkit-filter: hue-rotate(160deg) saturate(140%);
	        filter: hue-rotate(160deg) saturate(140%);
}

.container-active {
	-webkit-transition: none;
	-o-transition: none;
	transition: none;
}