body {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	height: 100vh;
}

.clock {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}

.flip {
	position: relative;
	width: 60px;
	height: 100px;
	margin: 2px;
	font-size: 66px;
	line-height: 100px;
	text-align: center;
	border: 1px solid black;
	border-radius: 10px;
	-webkit-box-shadow: 0 0 6px rgba(0, 0, 0, 0.5);
	        box-shadow: 0 0 6px rgba(0, 0, 0, 0.5);
}

.digital::before,
.digital::after {
	position: absolute;
	content: attr(data-number);
	left: 0;
	right: 0;
	color: white;
	background: black;
	overflow: hidden;
	-webkit-perspective: 160px;
	        perspective: 160px;
}

.digital::before {
	top: 0;
	bottom: 50%;
	border-bottom: 1px solid #666;
	border-radius: 10px 10px 0 0;
}

.digital::after {
	top: 50%;
	bottom: 0;
	line-height: 0;
	border-radius: 0 0 10px 10px;
}

.digital.front::after,
.digital.back::before {
	z-index: 1;
}

.digital.back::after {
	-webkit-transform-origin: top center;
	    -ms-transform-origin: top center;
	        transform-origin: top center;
	-webkit-transform: rotateX(0.5turn);
	        transform: rotateX(0.5turn);
	z-index: 2;
}

.digital.front::before {
	z-index: 3;
}

.divider {
	font-size: 66px;
	line-height: 102px;
	font-style: normal;
}

.flip.running .front::before {
	-webkit-transform-origin: center bottom;
	    -ms-transform-origin: center bottom;
	        transform-origin: center bottom;
	-webkit-animation: frontFlipDown 0.6s ease-in-out;
	        animation: frontFlipDown 0.6s ease-in-out;
	-webkit-box-shadow: 0 -2px 6px rgba(255, 255, 255, 0.3);
	        box-shadow: 0 -2px 6px rgba(255, 255, 255, 0.3);
	-webkit-backface-visibility: hidden;
	        backface-visibility: hidden;
}

.flip.running .back::after {
	-webkit-animation: backFlipDown 0.6s ease-in-out;
	        animation: backFlipDown 0.6s ease-in-out;
}

@-webkit-keyframes frontFlipDown {
	to {
		-webkit-transform: rotateX(0.5turn);
		        transform: rotateX(0.5turn);
	}
}

@keyframes frontFlipDown {
	to {
		-webkit-transform: rotateX(0.5turn);
		        transform: rotateX(0.5turn);
	}
}

@-webkit-keyframes backFlipDown {
	to {
		-webkit-transform: rotateX(0);
		        transform: rotateX(0);
	}
}

@keyframes backFlipDown {
	to {
		-webkit-transform: rotateX(0);
		        transform: rotateX(0);
	}
}