* {
	-webkit-user-select: none;
	   -moz-user-select: none;
	    -ms-user-select: none;
	        user-select: none;
}

body {
	height: 100vh;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	margin: 0;
}

input[type="checkbox"] {
	display: none;
}

#buttons {
	position: relative;
	display: block;
	width: 700px;
	height: 350px;
	background-color: #ff0000;
	border-radius: 350px;
	cursor: pointer;
	-webkit-transform: scale(0.5);
	    -ms-transform: scale(0.5);
	        transform: scale(0.5);
}

.knob {
	width: 290px;
	height: 290px;
	background-image: url(images/index.jpg);
	background-size: 700px;
	position: relative;
	top: 30px;
	left: 30px;
	border-radius: 290px;
	-webkit-transition: 0.4s ease left, 0.4s ease background-position;
	-o-transition: 0.4s ease left, 0.4s ease background-position;
	transition: 0.4s ease left, 0.4s ease background-position;
	z-index: 2;
}

.subs,
.thank {
	position: absolute;
	top: 50%;
	-webkit-transform: translateY(-50%);
	    -ms-transform: translateY(-50%);
	        transform: translateY(-50%);
	color: #fff;
	font-size: 58px;
	font-weight: 700;
	font-family: 'Product Sans', sans-serif;
	margin-left: 389px;
	z-index: 1;
}

.thank {
	margin-left: 30px;
}

#checkbox:checked + #buttons .knob {
	left: 380px;
	background-position: -350px 0;
}