body {
    background: #E8EBF3;
    height: 100vh;
    font: 400 16px 'Google Sans', sans-serif;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
#checklist {
    --background: #ffffff;
    --text: #414856;
    --check: #4F29F0;
    --disabled: #C3C8DE;
    --width: 100px;
    --height: 140px;
    --border-radius: 10px;
    
    background: var(--background);
    width: var(--width);
    height: var(--height);
    border-radius: var(--border-radius);
    position: relative;
    -webkit-box-shadow: 0 10px 30px rgba(65, 72, 86, 0.05);
            box-shadow: 0 10px 30px rgba(65, 72, 86, 0.05);
    padding: 30px 45px;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 30px auto;
    grid-template-columns: 30px auto;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
#checklist label {
    color: var(--text);
    position: relative;
    cursor: pointer;
    display: -ms-grid;
    display: grid;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    -webkit-transition: color .3s ease;
    -o-transition: color .3s ease;
    transition: color .3s ease;
}
#checklist label::before, #checklist label::after {
    content: "";
    position: absolute;
}
#checklist label::before {
    height: 2px;
    width: 8px;
    left: -27px;
    background: var(--check);
    border-radius: 2px;
    -webkit-transition: background .3s ease;
    -o-transition: background .3s ease;
    transition: background .3s ease;
}
#checklist label:after {
    height: 4px;
    width: 4px;
    top: 8px;
    left: -25px;
    border-radius: 50%;
}
#checklist input[type="checkbox"] {
    -moz-appearance: none;
    position: relative;
    height: 15px;
    width: 15px;
    outline: none;
    border: 0;
    margin: 0 15px 0 0;
    cursor: pointer;
    background: var(--background);
    display: -ms-grid;
    display: grid;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
#checklist input[type="checkbox"]::before, #checklist input[type="checkbox"]::after {
    content: "";
    position: absolute;
    height: 2px;
    top: auto;
    background: var(--check);
    border-radius: 2px;
}
#checklist input[type="checkbox"]::before {
    width: 0px;
    right: 60%;
    -webkit-transform-origin: right bottom;
        -ms-transform-origin: right bottom;
            transform-origin: right bottom;
}
#checklist input[type="checkbox"]::after {
    width: 0px;
    left: 40%;
    -webkit-transform-origin: left bottom;
        -ms-transform-origin: left bottom;
            transform-origin: left bottom;
}
#checklist input[type="checkbox"]:checked::before {
    -webkit-animation: check-01 .4s ease forwards;
            animation: check-01 .4s ease forwards;
}
#checklist input[type="checkbox"]:checked::after {
    -webkit-animation: check-02 .4s ease forwards;
            animation: check-02 .4s ease forwards;
}
#checklist input[type="checkbox"]:checked + label {
    color: var(--disabled);
    -webkit-animation: move .3s ease .1s forwards;
            animation: move .3s ease .1s forwards;
}
#checklist input[type="checkbox"]:checked + label::before {
    background: var(--disabled);
    -webkit-animation: slice .4s ease forwards;
            animation: slice .4s ease forwards;
}
#checklist input[type="checkbox"]:checked + label::after {
    -webkit-animation: firework .5s ease forwards .1s;
            animation: firework .5s ease forwards .1s;
}
@-webkit-keyframes move {
    50% {
        padding-left: 8px;
        padding-right: 0px;
    }
    100% {
        padding-right: 4px;
    }
}
@keyframes move {
    50% {
        padding-left: 8px;
        padding-right: 0px;
    }
    100% {
        padding-right: 4px;
    }
}
@-webkit-keyframes slice {
    60% {
        width: 100%;
        left: 4px;
    }
    100% {
        width: 100%;
        left: -2px;
        padding-left: 0;
    }
}
@keyframes slice {
    60% {
        width: 100%;
        left: 4px;
    }
    100% {
        width: 100%;
        left: -2px;
        padding-left: 0;
    }
}
@-webkit-keyframes check-01 {
    0% {
        width: 4px;
        top: auto;
        -webkit-transform: rotate(0);
                transform: rotate(0);
    }
    50% {
        width: 0px;
        top: auto;
        -webkit-transform: rotate(0);
                transform: rotate(0);
    }
    51% {
        width: 0px;
        top: 8px;
        -webkit-transform: rotate(45deg);
                transform: rotate(45deg);
    }
    100% {
        width: 5px;
        top: 8px;
        -webkit-transform: rotate(45deg);
                transform: rotate(45deg);
    }
}
@keyframes check-01 {
    0% {
        width: 4px;
        top: auto;
        -webkit-transform: rotate(0);
                transform: rotate(0);
    }
    50% {
        width: 0px;
        top: auto;
        -webkit-transform: rotate(0);
                transform: rotate(0);
    }
    51% {
        width: 0px;
        top: 8px;
        -webkit-transform: rotate(45deg);
                transform: rotate(45deg);
    }
    100% {
        width: 5px;
        top: 8px;
        -webkit-transform: rotate(45deg);
                transform: rotate(45deg);
    }
}
@-webkit-keyframes check-02 {
    0% {
        width: 4px;
        top: auto;
        -webkit-transform: rotate(0);
                transform: rotate(0);
    }
    50% {
        width: 0px;
        top: auto;
        -webkit-transform: rotate(0);
                transform: rotate(0);
    }
    51% {
        width: 0px;
        top: 8px;
        -webkit-transform: rotate(-45deg);
                transform: rotate(-45deg);
    }
    100% {
        width: 10px;
        top: 8px;
        -webkit-transform: rotate(-45deg);
                transform: rotate(-45deg);
    }
}
@keyframes check-02 {
    0% {
        width: 4px;
        top: auto;
        -webkit-transform: rotate(0);
                transform: rotate(0);
    }
    50% {
        width: 0px;
        top: auto;
        -webkit-transform: rotate(0);
                transform: rotate(0);
    }
    51% {
        width: 0px;
        top: 8px;
        -webkit-transform: rotate(-45deg);
                transform: rotate(-45deg);
    }
    100% {
        width: 10px;
        top: 8px;
        -webkit-transform: rotate(-45deg);
                transform: rotate(-45deg);
    }
}
@-webkit-keyframes firework {
    0% {
        opacity: 1;
        -webkit-box-shadow: 0 0 0 -2px #4F29F0, 0 0 0 -2px #4F29F0, 0 0 0 -2px #4F29F0, 0 0 0 -2px #4F29F0, 0 0 0 -2px #4F29F0, 0 0 0 -2px #4F29F0;
                box-shadow: 0 0 0 -2px #4F29F0, 0 0 0 -2px #4F29F0, 0 0 0 -2px #4F29F0, 0 0 0 -2px #4F29F0, 0 0 0 -2px #4F29F0, 0 0 0 -2px #4F29F0;
    }
    30% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        -webkit-box-shadow: 0 -15px 0 0px #4F29F0, 14px -8px 0 0px #4F29F0, 14px 8px 0 0px #4F29F0, 0 15px 0 0px #4F29F0, -14px 8px 0 0px #4F29F0, -14px -8px 0 0px #4F29F0;
                box-shadow: 0 -15px 0 0px #4F29F0, 14px -8px 0 0px #4F29F0, 14px 8px 0 0px #4F29F0, 0 15px 0 0px #4F29F0, -14px 8px 0 0px #4F29F0, -14px -8px 0 0px #4F29F0;
    }
}
@keyframes firework {
    0% {
        opacity: 1;
        -webkit-box-shadow: 0 0 0 -2px #4F29F0, 0 0 0 -2px #4F29F0, 0 0 0 -2px #4F29F0, 0 0 0 -2px #4F29F0, 0 0 0 -2px #4F29F0, 0 0 0 -2px #4F29F0;
                box-shadow: 0 0 0 -2px #4F29F0, 0 0 0 -2px #4F29F0, 0 0 0 -2px #4F29F0, 0 0 0 -2px #4F29F0, 0 0 0 -2px #4F29F0, 0 0 0 -2px #4F29F0;
    }
    30% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        -webkit-box-shadow: 0 -15px 0 0px #4F29F0, 14px -8px 0 0px #4F29F0, 14px 8px 0 0px #4F29F0, 0 15px 0 0px #4F29F0, -14px 8px 0 0px #4F29F0, -14px -8px 0 0px #4F29F0;
                box-shadow: 0 -15px 0 0px #4F29F0, 14px -8px 0 0px #4F29F0, 14px 8px 0 0px #4F29F0, 0 15px 0 0px #4F29F0, -14px 8px 0 0px #4F29F0, -14px -8px 0 0px #4F29F0;
    }
}