:root {
  --card-padding: 1em;
  --card-radius: 0.5em;

  --radio-border-width: 2px;
  --radio-size: 1.5em;

  --color-gray: #e2ebf6;
  --color-green: #558359;
  --color-dark-grey: #c4d1e1;
}

body {
  background-color: #f2f8ff;
  color: #263228;
  font-family: 'Google Sans', 'Segoe UI', sans-serif;
  margin: 0;
  padding: 2em 6vw;
}

.grid {
  display: grid;
  grid-gap: var(--card-padding);
  margin: 0 auto;
  padding: 0;
  max-width: 60em;
}

.card {
  background-color: #fff;
  border-radius: var(--card-radius);
  position: relative;
}

.card:hover {
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.15);
}

.radio {
  font-size: inherit;
  margin: 0;
  position: absolute;
  right: calc(var(--card-padding) + var(--radio-border-width));
  top: calc(var(--card-padding) + var(--radio-border-width));
}

.plan-details {
  border: var(--radio-border-width) solid var(--color-gray);
  border-radius: var(--card-radius);
  cursor: pointer;
  display: flex;
  flex-direction: column;
  padding: var(--card-padding);
  transition: border-color 0.2s ease-out;
}

.plan-type {
  color: var(--color-green);
  font-size: 1.5rem;
  font-weight: bold;
  line-height: 1em;
}

.plan-cost {
  font-size: 2.5rem;
  font-weight: bold;
  padding: 0.5rem 0;
}

.slash {
  font-weight: normal;
}

.plan-cycle {
  font-size: 2rem;
  font-variant: normal;
  cursor: inherit;
  text-decoration: none;
}

@media (min-width: 42em) {
  .grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

@supports (-webkit-appearance: none) or (-moz-appearance: none) {
  .radio {
    -moz-appearance: none;
    background: #fff;
    border: var(--radio-border-width) solid var(--color-gray);
    border-radius: 50%;
    cursor: pointer;
    height: var(--radio-size);
    outline: none;
    transition: background 0.2s ease-out, border-color 0.2s ease-out;
    width: var(--radio-size);
  }

  .radio::after {
    border: var(--radio-border-width) solid #fff;
    border-top: 0;
    border-left: 0;
    content: '';
    display: block;
    height: 0.75rem;
    left: 25%;
    position: absolute;
    top: 50%;
    transform: rotate(45deg) translate(-50%, -50%);
    width: 0.375rem;
  }

  .radio:checked {
    background: var(--color-green);
    border-color: var(--color-green);
  }

  .card:hover .radio {
    border-color: var(--color-dark-grey);
  }

  .card:hover .radio:checked {
    border-color: var(--color-green);
  }
}

.card:hover .plan-details {
  border-color: var(--color-dark-grey);
}

.radio:checked ~ .plan-details {
  border-color: var(--color-green);
}

.radio:focus ~ .plan-details {
  box-shadow: 0 0 0 2px var(--color-dark-grey);
}
