html {
    height: 100%;
    font-size: 1.3vw;
}

@media (min-width: 768px) {
    html {
        font-size: 62.5%;
    }
}

body {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #e4a924;
    transition: background-color .55s;
    will-change: background-color;
    margin: 0;
}

.menu_item {
    width: 8.5rem;
    height: 8.5rem;
    border-radius: 12.5rem;
    background: #f3f3f3;
    display: inline-block;
    display: inline-flex;
    margin-left: 1.1rem;
    animation-name: close;
    animation-duration: 0s;
    will-change: width background-color;
    transition: background 0.55s;
    vertical-align: top;
    align-items: center;
    justify-content: center;
    box-shadow: 0 1px rgba(0, 0, 0, 0.1);
}

.menu_item:first-child {
    margin-left: 0;
}

.menu_item .--yellow {
    background: #fabe2b;
}

.menu_item .--red {
    background: #f43768;
}

.menu_item .--green {
    background: #45a1a3;
}

.menu_item.--active {
    width: 17rem;
    animation-name: open;
}

.menu_item svg {
    fill: #a6a6a6;
    width: 4.5rem;
    height: 4.5rem;
    transition: fill .55s;
    will-change: fill;
}

.menu_item.--animate {
    animation-duration: 0.5s;
}

@keyframes open {
    0% {
        width: 8.5rem;
    }
    40% {
        width: 18.5rem;
    }
    80% {
        width: 17rem;
    }
    100% {
        width: 17rem;
    }
}

@keyframes close {
    0% {
        width: 17rem;
    }
    40% {
        width: 7rem;
    }
    80% {
        width: 8.5rem;
    }
    100% {
        width: 8.5rem;
    }
}